*
{
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  color: white;
  font-family: open sans;
  max-width: 1200px;
}

* a:link{
  text-decoration: none;
}

* a:hover{
  color: #002cdc;
}

* p{
  line-height: 20px;
}

body
{
  background-color: #0d9d35;
  padding: 10px 50px;
  text-align: center;
}

.returnHome{
  text-align: right;
}

.topHeader
{
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: 0px;
  margin-bottom: 30px;
  margin-top: 50px;
}

.topHeader h1{
  color: black;
}

.topHeader p{
  font-size: 30px;
  margin-top: 20px;
  font-weight: 600;
  color: #1ab9bc;
}

.betaVersion{
  color: red;
  font-size: 20px;
  text-decoration: underline;
}

#sports{
  list-style: none;
}


#sports li{
  display: inline-block;
  float: none;
  background-color: #0b17bb;
  padding: 8px;
  border-radius: 10px;
  margin-left: 5px;
  margin-right: 5px;
}

#sports li:hover{
  background-color: #060e79;
}

#sports a:hover{
  color:white;
}

.footerLinks{
  list-style: none;
}

.footerLinks li{
  display: inline-block;
  float: none;
  margin-right: 30px;
  color: #1e82bc;
}

img.logo{
  vertical-align: middle;
}
