*
{
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  color: black;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif ;
  max-width: 1200px;
}

* a:link{
  text-decoration: none;
}

* a:hover{
  color: #002cdc;
}

body
{
	background-image: url("../background.jpg");
	background-repeat: no-repeat;
	background-position: center;
	height:100%;
  width:100%;
  overflow:hidden;
  padding: 1vmin 1vmin;
  text-align: center;
  font-size: 2vmin;
}

.returnHome{
  text-align: right;
}

.topHeader
{
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: 0px;
  margin-bottom: 30px;
  margin-top: 50px;
}

.topHeader h1{
  color: black;
  font-size: 4.5vmin;
}

#sports{
  list-style: none;
}


#sports li{
  display: inline-block;
  float: none;
  border-radius: 10px;
  margin-left: 5px;
  margin-right: 5px;
}

#sports a{
	border: 3px solid black;
	padding : 15px;
	margin: 10px;
	border-radius: 15px;
	transition: border-radius  0.4s, padding 0.4s, border-color 0.4s;
}


#sports a:hover{
	border-radius: 7px;
	padding: 18px;
	border-color: white;

}


.footerLinks{
  list-style: none;
}

.footerLinks li{
  display: inline-block;
  float: none;
  margin-right: 30px;
}

.footerLinks a{
	transition: color 0.4s;
}

.footerLinks a:hover{
	color: white;
}

img.logo{
  vertical-align: middle;
}




