*
{
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  color: white;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif ;
  max-width: 1200px;
}

* a:link{
  text-decoration: none;
}

* a:hover{
  color: #002cdc;
}

body
{
  background-color: #0d9d35;
  padding: 1vmin 1vmin;
  text-align: center;
  font-size: 2vmin;
}

.returnHome{
  text-align: right;
}

.topHeader
{
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: 0px;
  margin-bottom: 30px;
  margin-top: 50px;
}

.topHeader h1{
  color: black;
  font-size: 4.5vmin;
}

#sports{
  list-style: none;
}


#sports li{
  display: inline-block;
  float: none;
  border-radius: 10px;
  margin-left: 5px;
  margin-right: 5px;
}

.cliffButton:hover{
  background-color: #060e79;
}

#sports a:hover{
  color:white;
}

.cliffButton{
  background-color: #0b17bb;
  padding: 8px;
}

.calisthenicsButton{
  padding: 14px;
  background-color: #ba6821;
}

.calisthenicsButton:hover{
  background-color: #934c0e;
}

.footerLinks{
  list-style: none;
}

.footerLinks li{
  display: inline-block;
  float: none;
  margin-right: 30px;
  color: #1e82bc;
}

img.logo{
  vertical-align: middle;
}
