*
{
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  color: white;
  font-family: open sans;
  font-size: 1.7vmin;
}

* a:link{
  text-decoration: none;
}

* a:hover{
  color: #c98510;
}

* p{
  line-height: 50%;
  font-size: 125%;
}

.maxWidthContainer{
  max-width: 1200px;
}

body
{
  background-color: #0c5372;
  padding: 1vmin 2vmin;
  text-align: center;
}

.leaflet-control-attribution{
  font-size: 1.2vmin;
}

.leaflet-control{
  font-size: 1.2vmin;
}

.leaflet-control-attribution a{
  font-size: 1.2vmin;
}

.leaflet-control a{
  font-size: 1.2vmin;
}


.returnHome{
  text-align: right;
}

.topHeader
{
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-bottom: 3vmin;
  margin-top: 4vmin;
}

.topHeader h1{
  color: #dd8d1c;
  font-size: 300%;
}

#mapid{
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
  height: 500px;
}

#spotInfoContainer{
  max-width: 1000px;
  margin: auto;
  padding-top: 10px;
  line-height: 20px;
}

#spotNameContainer p{
  font-size: 4.2vmin;
  color: #dd8d1c;
}

#spotPicturesContainer img{
  padding-right: 1vw;
  padding-left: 1vw;
  vertical-align: middle;
  max-width: 45vw;
  width: 100%;
}

#spotCoordinatesContainer{
  text-align: left;
}

#spotVideosContainer{
  text-align: left;
}

#newSpot{
  background-color: #973a0f;
  padding: 5px;
  color: white;
  border-radius: 6px;
}

#newSpot:hover{
  background-color: #782c09;
}

#disclaimer{
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
}

img.logo{
  vertical-align: middle;
}


.relatedLinksTitle{
  text-decoration: underline;
}


.relatedLinks li{
  list-style: none;
  display: inline-block;
  margin-right: 30px;
  font-size: 125%;
}


.footerLinks{
  list-style: none;
}

.footerLinks li{
  display: inline-block;
  float: none;
  margin-right: 30px;
  color: #1e82bc;
  font-size: 100%;
}
