*
{
  margin: 0;
  padding: 0;
  color: white;
}

* a:link{
  text-decoration: none;
}

* a:hover{
  color: #c98510;
}

* p{
  line-height: 20px;
}

body
{
  background-color: #232528;
  padding: 10px 50px;
  text-align: center;
}

.returnHome{
  float: right;
}

.topHeader
{
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: 0px;
  margin-bottom: 30px;
  margin-top: 50px;
}

.topHeader h1{
  color: #CE4D24;
}

.topHeader p{
  font-size: 30px;
  margin-top: 20px;
  font-weight: 600;
  color: #1ab9bc;
}

.spotNameTitle{
  font-size: 30px;
  color: #c98510;
}







.relatedLinksTitle{
  text-decoration: underline;
}


.relatedLinks li{
  list-style: none;
  display: inline-block;
  margin-right: 30px;
}


.footerLinks{
  list-style: none;
}

.footerLinks li{
  display: inline-block;
  float: none;
  margin-right: 30px;
  color: #1e82bc;
}

#mapid {
  height: 400px;
}
