*
{
  margin: 0;
  padding: 0;
  color: white;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif ;
}

* a:hover{
  color: #c98510;
}

* p{
  line-height: 20px;
  text-align: justify;
}

.maxWidthContainer{
  max-width: 1000px;
  margin: auto;
}

.maxWidthContainer p{
  text-align: justify;
}

.maxWidthContainer li{
  text-align: justify;
}

.contactP p{
  text-align: center;
}

body
{
  background-color: #0d9d35;
  padding: 10px 50px;
  text-align: center;
}

.returnHome{
  text-align: right;
}

.returnHome a{
  text-decoration: none;
}

.underline{
  text-decoration: underline;
}

.topHeader
{
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: 0px;
  margin-bottom: 30px;
  margin-top: 50px;
}

.topHeader h1{
  color: black;
}

.topHeader p{
  font-size: 30px;
  margin-top: 20px;
  font-weight: 600;
  color: #1ab9bc;
}

img.logo{
  vertical-align: middle;
}

.footerLinks{
  list-style: none;
  text-align: center;
}

.footerLinks li{
  display: inline-block;
  float: none;
  margin-right: 30px;
  color: #1e82bc;
}

.footerLinks a{
  text-decoration: none;
}
