*
{
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  color: white;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif ;
  max-width: 1000px;
}

* a:hover{
  color: #c98510;
}

.img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

body
{
  background-color: #0c5372;
  padding: 10px 50px;
  text-align: justify;
}

.returnToSpots{
  text-align: right;
}

.returnToSpots a{
  text-decoration: none;
}

.topHeader
{
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: 0px;
  margin-bottom: 30px;
  margin-top: 50px;
  text-align: center;
}

.topHeader h1{
  color: #dd8d1c;
  font-size: 4.5vmin;
}

.sectionTitle{
  font-size: 3.7vmin;
  color: #dd8d1c;
  margin-bottom: 20px;
  margin-top: 30px;
}

img.logo{
  vertical-align: middle;
}

.center{
  text-align: center;
}

footer{
  padding-left: 15%;
  padding-right: 15%;
  text-align: center;
}

footer a{
  text-decoration: none;
}
