*
{
margin-left: auto;
margin-right: auto;
padding: 0;
color: white;
font-family: open sans;
max-width:800px;
}

* a:link{
text-decoration: none;
}

* a:hover{
color: #c98510;
}

* p{
  line-height: 120%;
}

.returnToSpots{
text-align: right;
}

body
{
background-color: #0c5372;
padding: 1vmin 2vmin;
text-align: center;
}

.topHeader
{
width: 100%;
height: auto;
margin-left: auto;
margin-bottom: 3vmin;
margin-top: 4vmin;
}

.topHeader h1{
color: #dd8d1c;
font-size: 4.5vmin;
}

.maxWidthContainer{
max-width: 1200px;
}

.leaflet-control-attribution{
  font-size: 100%;
}

.leaflet-control{
  font-size: 100%;
}

.leaflet-control-attribution a{
  font-size: 100%;
}

.leaflet-control a{
  font-size: 100%;
}

.findMeButton{
  background-color: #973a0f;
  padding: 6px;
  color: white;
  border-radius: 9px;
}

input {
  border-right: none;
  border-top: none;
  border-left: none;
  background-color:transparent;
  outline: none;
  color: white;
}

textarea{
  display: block;
  background-color:transparent;
  color:white;
}

input{
  margin-bottom: 1vw;
  font-size: 100%;
}
textarea{
  font-size: 100%;
}

.submitButton input{
  border-right: solid;
  border-left: solid;
  border-bottom: solid;
  border-top: solid;
  padding: 0.5vw;
}

#detailsMap{
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
  height: 500px;
}

.locationPin{
  color: black;
}

#TOS{
  text-decoration: underline;
}

footer{
padding-left: 15%;
padding-right: 15%;
}

img.logo{
vertical-align: middle;
}
