*
{
margin-left: auto;
margin-right: auto;
padding: 0;
color: white;
font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif ;
max-width:1000px;
}

* a:link{
text-decoration: none;
}

* a:hover{
color: #c98510;
}

* p{
  line-height: 120%;
}

.returnToSpots{
text-align: right;
}

body
{
background-color: #0c5372;
padding: 1vmin 2vmin;
text-align: center;
}

.topHeader
{
width: 100%;
height: auto;
margin-left: auto;
margin-bottom: 3vmin;
margin-top: 4vmin;
}

.topHeader h1{
color: #dd8d1c;
font-size: 4.5vmin;
}

.maxWidthContainer{
max-width: 1200px;
}

.leaflet-control-attribution{
  font-size: 100%;
}

.leaflet-control{
  font-size: 100%;
}

.leaflet-control-attribution a{
  font-size: 100%;
}

.leaflet-control a{
  font-size: 100%;
}

.findMeButton{
  background-color: #973a0f;
  padding: 6px;
  color: white;
  border-radius: 9px;
}

input {
  border-right: none;
  border-top: none;
  border-left: none;
  background-color:transparent;
  outline: none;
  color: white;
}

textarea{
  display: block;
  background-color:transparent;
  color:white;
}

input{
  margin-bottom: 1vw;
  font-size: 100%;
}
textarea{
  font-size: 100%;
}

.submitButton input{
  border-right: solid;
  border-left: solid;
  border-bottom: solid;
  border-top: solid;
  padding: 0.5vw;
  font-size: 1.2em;
}

.submitButton input:hover{
  color: #c98510;
}

.submittedMessage{
  color: red;
}

#detailsMap{
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
  height: 500px;
}

.locationPin{
  color: black;
}

#TOS{
  text-decoration: underline;
}

footer{
padding-left: 15%;
padding-right: 15%;
}

img.logo{
vertical-align: middle;
}




.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #fff;
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
